.katalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.45rem;
  padding: 1rem;
}

.katalog-item {
  position: relative;
  flex: 0 0 23%;
  height: 18rem;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.katalog-item .image {
  position: relative;
  width: 100%;
  height: 65%;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
}

.katalog-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.katalog-item .image .kategori {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.katalog-item .desc {
  position: relative;
}

.katalog-item .desc .title {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
  color: black;
  font-weight: bold;
}

.katalog-item .desc .price {
  color: black;
  margin: 0;
  font-size: 0.8rem;
}

.katalog-item .desc button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
}
